.services{
    background: url(../images/services_spot.svg) left bottom 420px no-repeat,
    url(../images/bot_elements.svg) right 100px bottom -50px no-repeat;
}

.services__container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 26px;
}

.services__line{
    width: 56px;
    height: 2px;
    left: 769px;
    top: 1746px;
    border-radius: 5px;
    background: #000000;
}

.services__paragraph{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
    padding-top: 33px;
    padding-bottom: 80px;
    width: 952px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
}


.services__table{
    background: transparent;
    display: table;
    border-collapse: separate;
    border-spacing: 40px;
    background-image: url(../images/services_elements.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.table__paragraph{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
}

.square__content{
    padding-top: 54px;
    padding-left: 37px;
    padding-right: 45px;
    padding-bottom: 47px;
}

.table__illustration{
    padding-bottom: 10px;
}

.services__button{
    margin: 69px auto auto;
    display: block;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {

    .table__paragraph{
        width: 180px;
    }

    .services__paragraph{
        padding-top: 0px;
        width: 310px;
        height: 96px;
        font-size: 16px;
        padding-left: 1 5px;
    }

    .services__line{
        margin-left: 140px;
        margin-bottom: 20px;
    }

    .services__title{
        margin-left: 30px;
    }

    td {
        display: block;
        width: 260px;
        margin-top: 30px;
    }

    .services{
        width: 300px;
        background: none;
    }

    .services__table{
        background-image: url(../images/services_elements.svg);
        width: 300px;
        table-layout: fixed;
    }
    
    .services__button{
        margin-left: 67px;
        margin-bottom: 0;
    }
}