.intro__container {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro__title {
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 480px;
    height: 110px;
}

.intro__line {
    width: 56px;
    height: 1.96px;
    border-radius: 10px;
    background: #000000;
    position: absolute;
}

.intro__paragraph {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    width: 450px;
    height: 117.48px;
    margin-top: 30px;
    margin-bottom: 36px;
}


.intro__content{
    padding-left: 142px;
}


@media screen and (max-width: 768px) {
    .intro {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .intro__title {
        margin: auto;
    }

    .intro__line{
        position: relative;
        margin: auto;
    }
    .intro__paragraph {
        margin: auto;
    }
}

@media screen and (max-width: 450px) {
    .intro__illustration {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .intro__title{
       padding-left: 0px;
       width: 310px;
       height: 170px;
       margin: 0 auto;
       padding-bottom: 50px;
       font-size: 50px;
    }

    .intro__paragraph{
       padding-top: 0px;
       width: 310px;
       height: 96px;
       font-size: 16px;
    }

    .intro__content{
       padding-left: 0;
       width: 100%;
    }

    .intro__container{
        padding-top: 0;
    }
    
    .intro__line{
        display: none;
    }

    .intro__button{
        margin-top: 80px;
    }


}