.intro__container {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro__title {
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 480px;
    height: 110px;
}

.intro__line {
    width: 56px;
    height: 1.96px;
    border-radius: 10px;
    background: #000000;
    position: absolute;
}

.intro__paragraph {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    width: 450px;
    height: 117.48px;
    margin-top: 30px;
    margin-bottom: 36px;
}


.intro__content{
    padding-left: 142px;
}
